header {

}

.column-1 {
  display: inline-block;
  width: 48%;
}

h2 {
  font-family: helvetica;
}

ul {
  list-style: lower-roman;

}

.column-2 {
  display: inline-block;
  width: 48%;
  vertical-align: top;
}

footer {
  text-align: center;
  padding: 3%;
}

article {
  border: 1px solid black;
  padding: 4px;
  border-radius: 5px
}