<!DOCTYPE html>
<html>
<head>
  <title>New Student Submissions</title>
</head>
<body>
  <h1>Submit your students here!</h1>
  <form action="/add_students" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="campus" placeholder="Campus">
    <input type="text" name="age" placeholder="Age">
    <button type="submit">Process Student</button>
  </form>
</body>
</html>